.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff ,#e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding-left: 180px;
    line-height: 1.0;
}
.hero-left h2{
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}
.hero-left p{
 color: #171717;  
 font-size: 50px; 
 font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap:20px;
}
.hero-hand-icon img{
    width: 50px;
}
.hero-latest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 300px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right img{
    height: 100vh;
    padding-top: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:1110px){
    .hero-left{
        padding-left : 100px; 
    }
    .hero-left h2{
   font-size: 16px;
    }
    .hero-left p{
        font-size: 45px;
    }
    .hero-hand-icon img{
        width:42px ;
    }
    .hero-latest-btn{
        gap:10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
            }
      .hero-right img{
      height: 600px ;
      } 
    
}
@media(max-width:980px){
    .hero-left{
        padding-left : 80px; 
    }
    .hero-left h2{
   font-size: 14px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        width:38px ;
    }
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 15px;
            }
      .hero-right img{
        padding-top: 114px;
      height: 550px;
      } 
    
}
@media(max-width:720px){
    .hero-left{
        padding-left : 30px; 
    }
    .hero-left h2{
   font-size: 12px;
    }
    .hero-left p{
        font-size: 35px;
    }
    .hero-hand-icon img{
        width:32px ;
    }
    .hero-latest-btn{
        width: 170px;
        height: 40px;
        font-size: 13px;
            }
      .hero-right img{
        padding-top: 124px;
      height: 480px;
      } 
    
}
@media(max-width:517px){
    .hero{
        flex-direction: column;
    }
    .hero-right{
        display: none;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-hand-icon img{
        font-size: 35px;
    }
    .hero-latest-btn{
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
}